.footerWrap {
  background-color: rgb(2, 56, 65);
  color: rgb(222, 234, 235);
}

.footerHead {
  /* width: 80%; */

  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.footerTxt {
  font-family: ModernEra, sans-serif;
  font-size: 1.35rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
}

.footerTxt p {
  font-size: 1.35rem;
  color: rgb(235, 178, 66);
}
.footerTxt2 p {
  font-size: 1.35rem;
  color: rgb(235, 178, 66);
}

@media screen and (max-width: 768px) {
  .footerTxt {
    font-family: ModernEra, sans-serif;
    font-size: 0.715rem;
    line-height: 1.5;
    border-bottom: 1px solid rgb(255, 255, 255);
    /* font-weight: 500; */
  }

  .footerTxt p {
    font-size: 0.75rem;
  }

  .footerTxt2 p {
    font-size: 1rem;
  }

  .footerTxt2 {
    font-size: 1rem;
    font-family: ModernEra, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0.5rem;
  }
}
