.navMain {
  display: flex;
  gap: 8px;

  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(2, 90, 101);
  font-weight: 600;

  cursor: pointer;
}

.logInWrap {
  background: rgb(239, 238, 232);
}

.logIn {
  background: rgb(242, 203, 128);
}

.more {
  background: white !important;
  color: rgb(2, 90, 101);

  width: 220px;
  /* border-bottom: 1px solid rgb(2, 90, 101); */
}
