.signTopWrap {
  background-color: rgb(245, 244, 240);
}

.qualified {
  background-color: rgb(234, 232, 224);
}

.bt {
  width: 380px;
  height: 70px;
}
.form2 {
  width: 300px;
  height: 70px;
}
.formSm {
  width: 100px;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .bt {
    width: 300px;
    height: 70px;
  }
}
