.faqHead {
  background-color: #025a65;
  color: white;
}

.faqForm {
  background-color: #b3d4fc;
  width: 880px;
}

.faqSec {
  background: #f3f5f7;
}

@media screen and (max-width: 768px) {
  .faqForm {
    background-color: #b3d4fc;
    width: 320px;
  }
}
