.bt {
  width: 200px;
}

.bt span {
  font-size: 14px;
  font-weight: 600;
}

.heroH2 {
  font-family: Copernicus, serif;
  font-size: 3.8rem;
  line-height: 1;
  color: rgb(51, 51, 49);
  font-weight: 350;
  margin-bottom: 1.5rem;
}

.heroH3 {
  font-family: ModernEra, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(51, 51, 49);
  font-weight: 500;
}

.heroH4 {
  font-family: Copernicus, serif;
  font-size: 3.2rem;
  line-height: 1;
  color: rgb(51, 51, 49);
  font-weight: 350;
  margin-bottom: 1.5rem;
}

.feature {
  background-color: rgb(199, 219, 221);
  height: 75px;
}

.featureHead {
  border-right: 1px solid rgb(75, 65, 65);
}

@media screen and (max-width: 768px) {
  .feature {
    background-color: rgb(199, 219, 221);
    height: 180px;
  }
  .featureHead {
    border-right: 0px solid rgb(75, 65, 65);
    border-bottom: 1px solid rgb(75, 65, 65);
  }
  .heroH2 {
    font-family: Copernicus, serif;
    font-size: 2.4rem;
    line-height: 1;
    color: rgb(51, 51, 49);
    font-weight: 350;
    margin-bottom: 0.1rem;
  }

  .heroH3 {
    font-family: ModernEra, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(51, 51, 49);
    font-weight: 600;
  }

  .heroH4 {
    font-family: Copernicus, serif;
    font-size: 1.8rem;
    line-height: 1;
    color: rgb(51, 51, 49);
    font-weight: 350;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1024px) {
}
